{% extends "base.html" %}
{% from "_macros.html" import render_comment %}
{% block title %}Nomai Texts{% endblock %}
{% block description %}<meta name="description" content="An unofficial collection of Nomai dialogue from Outer Wilds." />{% endblock %}
{% block content %}
<div class="flex flex-col divide-y divide-gray-200 dark:divide-zinc-800">
  {% for post in posts %}
  <section id="{{ post.name }}" class="py-6 first:pt-0">
    <h2 class="text-lg font-semibold mb-3">
      <a href="{{ post.name }}/index.html" class="no-underline text-gray-900 dark:text-zinc-100 hover:text-orange-600 dark:hover:text-orange-500">{{ post.display_name }}</a>
    </h2>
    <div class="flex flex-col">
      {% for comment in post.tree %}{{ render_comment(comment) }}{% endfor %}
    </div>
  </section>
  {% endfor %}
</div>
{% endblock %}
